extends ./layout/index

block contenido 
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")
            .col-md-7
                h2= pagina
                blockquote Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit aperiam cumque quae autem, molestias doloribus voluptates minus accusamus porro atque quos ut odit dolor magnam doloremque blanditiis quis eveniet quidem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est itaque non quam in modi fugiat quasi quidem, maiores porro perspiciatis quibusdam ipsum reprehenderit, obcaecati rem vero id velit. Dolorum, atque?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aliquid rem minima. Fuga fugit fugiat, tempore veritatis voluptatibus explicabo possimus officia culpa nostrum iste molestias sapiente repudiandae! Et, voluptatem repellat?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis tempore unde perspiciatis sit labore earum, eos sunt blanditiis illum autem quibusdam quis, distinctio fugiat. Labore autem voluptate aperiam quod vel!
        
    .listado-iconos  
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, corporis est! Iste eum ratione. pacalea scaler dalen.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="precios", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, corporis est! Iste eum ratione 
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="destinos", class="img-fluid mb-4")
                    h2.mb-4 destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, corporis est! Iste eum ratione placeat numquam nostrum voluptatum rerum ut.